# Venv
pyvenv.cfg
lib/*
bin/*

# PyPI
build/*
dist/*

# Pyenv
.python-version

# Ruff
.ruff-cache

# Other
.cache
__pycache__
*.sw[po]
*.py[co]
*.bak
*.DS_Store
.coverage
.coverage*
coverage

cutesy.egg-info
